.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding: 20px;
  justify-items: center;
}

.movie-container {
  width: 200px;
  display: flex;
  background-color: var(--background-dark);
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  gap: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  justify-content: space-between;
}

.movie-poster {
  height: 260px;
  max-width: 100%;
  border-radius: 10px;
}

.movie-title {
  color: white;
  margin-top: 6px;
}

.movie-date-vote-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-date {
  font-size: 12px;
  color: white;
}

.movie-vote {
  font-size: 12px;
  color: orange;
}

@media (max-width: 767px) {
  .movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding: 20px;
    justify-items: center;
  }

  .movie-container {
    width: 175px;
    padding: 8px;
    gap: 3px;
  }
}