@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #004E98;
  --background-dark: #111827;
  --dark-blue: #1F2937;
  --border-color: #E5E5E5;
  --secondary-color: #FF6700;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-dark);
    background-color: #ffffff;
  }
  /* a:hover {
    color: var(--secondary-color);
  } */
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}
